Q1. Explain with an example each when to use a for loop and a while loop.

=> A for loop is used when you know the number of iterations ahead of time. A while loop is used when you don't know the number of iterations ahead of time. The content of the loop is executed as long as the expressions evaluates to true.

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [1]:
#for loop
a = 0
b = 1
for i in range(1,11):
    a = a + i
    b = b * i
print("The sum of first 10 natural numbers is ",a)
print("The product of first 10 natural numbers is ",b)

The sum of first 10 natural numbers is  55
The product of first 10 natural numbers is  3628800

In [8]:
#while loop
c = 0
d = 1
i = 1
while(i<=10):
    c = c + i
    d = d * i
    i = i + 1
print("The sum of first 10 natural numbers is ",c)
print("The product of first 10 natural numbers is ",d)

The sum of first 10 natural numbers is  55
The product of first 10 natural numbers is  3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input.

Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [53]:
a = int(input("The unit of electricity consumed by the user in a month is "))
if(a<=100):
    cost_a = a*4.5
elif(a<=200):
    cost_a = (100 * 4.5) + ((a-100)*6)
elif(a<=300):
    cost_a = (100 * 4.5) + (100*6) + ((a-200)*10)
elif(a>300):
    cost_a = (100 * 4.5) + (100*6) + (100*10) + ((a-300)*20)
print("The total electricity bill should be ",cost_a)

The total electricity bill should be  2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [64]:
#for loop
a = list(range(1,101))
b = []
for i in a:
    if ((i*i*i)%4==0 or (i*i*i)%5==0):
        b.append(i)
b

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [67]:
#while loop
a = list(range(1,101))
b = []
i = 1
while(i<=len(a)):
    if ((i*i*i)%4==0 or (i*i*i)%5==0):
        b.append(i)
    i = i+1
b

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [70]:
string = "I want to become a data scientist"
count = 0
for i in string:
    if(i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u'):
        count = count+1
count

11